<!-- modal: confirm task deletion -->
{% if word %}
<div id="modal-{{ word._id }}" class="modal">
    <div class="modal-content">
        <h4>Are you sure you want to delete this word?</h4>
        <p>Once deleted it's gone forever.</p>
    </div>
    <div class="modal-footer">
        <a class="btn no-button modal-close">No</a>
        <a href="{{ url_for('delete_word', word_id=word._id) }}" class="btn yes-button">Yes</a>
    </div>
</div>
{% endif %}

<!-- modal: confirm category deletion -->
{% if category %}
<div id="modal-{{ category._id }}" class="modal">
    <div class="modal-content">
        <h4>Are you sure you want to delete this category?</h4>
        <p>Once deleted it's gone forever.</p>
    </div>
    <div class="modal-footer black">
        <a class="btn no-button modal-close">No</a>
        <a href="{{ url_for('delete_category', category_id=category._id) }}" class="btn yes-button">Yes</a>
    </div>
</div>
{% endif %}