<!-- modal: confirm task deletion -->
{% if word %}
<div id="modal-{{ word._id }}" class="modal">
    <div class="modal-content center-align">
        <h4 class="black-text">Are you sure you want to delete the word {{ word.word_name }} ?</h4>
        <p class="black-text">Once deleted it's gone forever.</p>
    </div>
    <div class="modal-footer center-align" style="text-align: center;">
        <a class="btn-small white black-text modal-button modal-close" style="width: 60px;">No</a>
        <a href="{{ url_for('delete_word', word_id=word._id) }}" class="btn-small black white-text modal-button" style="width: 60px;">Yes</a>
    </div>
</div>
{% endif %}

<!-- modal: confirm category deletion -->
{% if category %}
<div id="modal-{{ category._id }}" class="modal">
    <div class="modal-content center-align">
        <h4 class="black-text">Are you sure you want to delete the {{ category.category_name }} category?</h4>
        <p class="black-text">Once deleted it's gone forever.</p>
    </div>
    <div class="modal-footer center-align" style="text-align: center;">
        <a class="btn-small white black-text modal-button modal-close">No</a>
        <a href="{{ url_for('delete_category', category_id=category._id) }}" class="btn-small black white-text modal-button">Yes</a>
    </div>
</div>
{% endif %}

{% if user %}
<div id="modal-{{ username._id }}" class="modal center-align">
    <!-- Modal Content -->
    <div class="modal-content center-align">
        <h4 class="black-text">Ye sure pal about leaving us {{ user._id }}?</h4>
        <p class="black-text">Profile will be terminated, though your word will remain unless deleted</p>
    </div>
    <div class="modal-footer center-align" style="text-align: center;">
        <a class="btn-small white black-text modal-button modal-close">No</a>
        <a href="{{ url_for('delete_profile', username_id=username._id) }}" class="btn-small black white-text modal-button">Yes</a>
    </div>
</div>
{% endif %}