<!-- modal: confirm task deletion -->
{% if word %}
<div id="modal-{{ word._id }}" class="modal">
    <div class="modal-content center-align">
        <h4>Are you sure you want to delete {{ word.word_name }} ?</h4>
        <p>Once deleted it's gone forever.</p>
    </div>
    <div class="modal-footer center-align" style="text-align: center;">
        <a class="btn white black-text modal-button modal-close">No</a>
        <a href="{{ url_for('delete_word', word_id=word._id) }}" class="btn black white-text modal-button">Yes</a>
    </div>
</div>
{% endif %}

<!-- modal: confirm category deletion -->
{% if category %}
<div id="modal-{{ category._id }}" class="modal">
    <div class="modal-content center-align">
        <h4>Are you sure you want to delete the {{ word.category_name }} category?</h4>
        <p>Once deleted it's gone forever.</p>
    </div>
    <div class="modal-footer">
        <a class="btn white black-text modal-button modal-close">No</a>
        <a href="{{ url_for('delete_category', category_id=category._id) }}" class="btn black white-text modal-button">Yes</a>
    </div>
</div>
{% endif %}