<li><a href="{{ url_for('home') }}" class="white-text nav-link">Home</a></li>
<li><a href="{{ url_for('get_words') }}" class="white-text nav-link">Glossary</a></li>
 <li><a href="{{ url_for('contact') }}" class="white-text nav-link">Contact</a></li>
{% if session.user %}
    <!-- user is logged-in -->
    <li><a href="{{ url_for('profile', username=session['user']) }}" class="white-text nav-link">Profile</a></li>
    <li><a href="{{ url_for('add_word') }}" class="white-text nav-link">Add Word</a></li>
    
    {% if session.user|lower == "admin"|lower %}
        <!-- user is "admin" -->
    <li><a href="{{ url_for('get_categories') }}" class="white-text nav-link">Manage Categories</a></li>
    {% endif %}
    <li><a href="{{ url_for('logout') }}" class="white-text nav-link">Log Out</a></li>
{% else %}
    <!-- user is logged-out -->
    <li><a href="{{ url_for('login') }}" class="white-text nav-link">Log In</a></li>
    <li><a href="{{ url_for('register') }}" class="white-text nav-link">Register</a></li>
{% endif %}