<li><a href="{{ url_for('home') }}" class="white-text">Home</a></li>
{% if session.user %}
    <!-- user is logged-in -->
    <li><a href="{{ url_for('profile', username=session['user']) }}" class="white-text">Profile</a></li>
    <li><a href="{{ url_for('add_word') }}" class="white-text">Add word</a></li>
    <li><a href="{{ url_for('get_words') }}" class="white-text">Glossary</a></li>
    {% if session.user|lower == "admin"|lower %}
        <!-- user is "admin" -->
    <li><a href="{{ url_for('get_categories') }}" class="white-text">Manage Categories</a></li>
    {% endif %}
    <li><a href="{{ url_for('logout') }}" class="white-text">Log Out</a></li>
    <li><a href="{{ url_for('contact') }}" class="white-text">Contact</a></li>
{% else %}
    <!-- user is logged-out -->
    <li><a href="{{ url_for('login') }}" class="white-text">Log In</a></li>
    <li><a href="{{ url_for('register') }}" class="white-text">Register</a></li>
{% endif %}