@import url('https://fonts.googleapis.com/css2?family=Rufina&display=swap');

/*---body and main styling from css materialize so footer will to bottom of page---*/   
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Rufina', serif;
    font-weight: 700;
    background-color: white;
}

main {
    flex: 1 0 auto;
}

.brand-logo{
 margin-left: 16px;
 display: block;
 margin: auto;
 letter-spacing: 1px;
}

nav{
background-color: #009900;
}

.fab{
font-size: 25px;
}

li{
display: inline;
}

label{
color: white;
}

.register{
background-color: #ffffff;
color: black;
border-radius: 10px;
border: 1px solid black;
margin: auto;
display: block;

}

.register:hover{
font-size: 17px;
background-color: #ffffff;
}

#contact-form{
border: 2px solid #000000;
border-radius: 20px;
margin-top: 20px;
padding: 10px;
}

.btn{
display: block;
margin: auto;
color: #000000;
background-color: #ffffff;
border-radius: 8px;
border: 2px solid #000000;
font-size: 20px;
}

.btn:hover{
font-size: 23px;

}

.welcome-image {
height: 600px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
}

.collapsible-header{
background-color: rgb(255, 166, 0);
}

.card-panel{
background-color:rgb(255, 166, 0);
}

.flash-message{
text-align: center;
background-color: rgb(255, 166, 0);
color: #000000;
}





























 

