


/*---body and main styling from css materialize so footer will to bottom of page---*/   
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Rufina', serif;
    font-weight: 700;
    background-color: white;
}



main {
    flex: 1 0 auto;
}

.brand-logo{
 margin-left: 6px;
}

nav{
background-color: #009900;
}

.brand-logo{
letter-spacing: 1px;
}

.fab{
font-size: 25px;
}

li{
display: inline;
}













 

