


/*---body and main styling from css materialize so footer will to bottom of page---*/   
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

.brand-logo{
 margin-left: 4px;
}

nav{
background-color: #009900;
}




 

