{% extends "base.html" %}
{% block content %}

<h3 class="black-text text-darken-4 center-align">Add Word!</h3>

    <div class="row card-panel add-word-panel">
        <form class="col s12" method="POST" action="{{ url_for('add_word') }}">
            <!-- category selection -->
			<div class="row">
				<div class="input-field">
                    <i class="fas fa-folder-open prefix black-text text-darken-4"></i>
					<select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose Category</option>
                        {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
					<label for="category_name" style="color: #000000;">Task Category</label>
				</div>
			</div>

{% endblock %}
©