{% extends "base.html" %}
{% block content %}

<h3 class="black-text center-align">Irish Glossary</h3>
<p class="black-text center-align">
    Add your favourite word or search for a word below!</p>

    <div class="row card-panel orange">
<form action="{{ url_for('search')}}" method="POST" class="col s12">
    <div class="row valign-wrapper center-align">
        <div class="input-field col s12">
            <i class="fas fa-search prefix black-text text-darken-3"></i>
            <input type="text" name="query" id="query" class="validate" required>
            <label for="query" style="color: black;">Search Word</label>
       </div>

        <button type="submit" class="grey btn" style="background-color: grey;margin: 5px;">
        Search
        </button>
        <a href="{{ url_for('get_words' )}}" class="white btn" style="background-color: #ffffff;">Reset</a>
            </div>
        </form>
    </div>


    {% if words|length > 0 %}


{% endblock %}