{% extends "base.html" %}
{% block content %}

<h3 class="black-text center-align">Irish Glossary</h3>
<p class="black-text center-align">
    Add your favourite word or search for a word below!</p>

    <div class="row card-panel">
<form action="{{ url_for('search') }}" method="POST" class="col s12">
    <div class="row valign-wrapper center-align">
        <div class="input-field col s12">
            <i class="fas fa-search prefix black-text text-darken-3"></i>
            <input type="text" name="query" id="query" class="validate" required>
            <label for="query" style="color: black;">Search Word</label>
       </div>

        <button type="submit" class="black btn" style="color: #ffffff;margin: 5px;">
        Search
        </button>
        <a href="{{ url_for('get_words' )}}" class="white btn" style="color: #000000;">Reset</a>
            </div>
        </form>
    </div>

    {% if words|length > 0 %}
    <ul class="collapsible">
        {% for word in words %}
        <li>
            <div class="collapsible-header">
                <div class="col s6">
                    <i class="fas fa-caret-down"></i><strong>{{ word.word_name }}</strong>
                {% if session.user|lower == word.created_by|lower %}
                <a href="#modal-{{ word._id }}" class="btn-small modal-trigger">Done</a>
                <a href="{{ url_for('edit_word', word_id=word._id) }}" class="btn-small white black-text">Edit</a>
                {% include "partials/modals.html" %}
                {% endif %}
                </div>
                
            </div>
            <div class="collapsible-body orange lighten-5">
                <strong></strong>Category: {{ word.category_name }}</strong>
                <p>word: {{ word.word_name }}</p>
                <p>Definition: {{ word.word_def }}</p>
                <p>example: {{ word.definition_example }}</p>
                <p><em>Created by: {{ word.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
            </ul>
    {% else %}
        <h3 class="red-text center-align">No Results Found :(</h3>
    {% endif %}
{% endblock %}