{% extends "base.html" %}
{% block content %}

<h3 class="black-text center-align">Search a word!</h3>

   <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="fas fa-chevron-down" style="font-size: 18px;"></i>First</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="fas fa-chevron-down" style="font-size: 18px;"></i>Second</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="fas fa-chevron-down" style="font-size: 18px;"></i>Third</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
     <li>
      <div class="collapsible-header"><i class="fas fa-chevron-down" style="font-size: 18px;"></i>Third</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>
{% endblock %}